fastapi
uvicorn[standard]
SQLAlchemy
pymysql
alembic
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt
httpx
python-dotenv
redis
langchain
langchain-community
langchain-ollama
langchain-openai
langchain-google-genai
python-multipart
